{% extends '_layouts/cp' %}

{% set title = 'Project: ' ~ project.displayName %}

{% set nextBackup = app.backup.getNextScheduledBackup(project.id) %}
{% set backupFreqSec = project.getBackupFrequencySeconds() %}
{% set backupFreq = backupFreqSec / 3600 %}

{% block content %}
    <div id="content">
        <h1>Backups</h1>
        <table class="data fullwidth">
            <thead>
                <td>ID</td>
                <td>Date</td>
                <td>Active</td>
            </thead>
            {% for backup in project.backups %}
                {% include 'admin/backups/listing' with {
                    backup: backup
                } only %}
            {% endfor %}
        </table>
        <h2>Settings</h2>
        <div>Backup Frequency: {{ backupFreq }} hours</div>
        <div>Next backup: {{ nextBackup | date('h:i:s m/d/Y') }}</div>
        <div class="btn" data-project-id="{{ project.id }}" id="CreateBackup">Create backup</div>

        <h2>Edit Settings</h2>
        {% include 'admin/projects/form' with {
            project: project
        } only %}
    </div>
{% endblock %}