{% extends '_layouts/cp' %}

{% do view.registerAssetBundle("modules\\adminmodule\\assetbundles\\AdminModule\\AdminModuleAsset") %}

{% set title = 'Projects' %}

{% block main %}
    <div id="content">
        <div class="Projects">
            {% if projects is defined %}
                {% for project in projects %}
                    {% include 'admin/projects/listing' with {
                        project: project,
                        servers: app.server.getServerOptions(),
                    } only %}
                {% endfor %}
            {% endif %}
        </div>
        {% include 'admin/projects/form' with {
            project: newProject
        } %}
    </div>
{% endblock %}