{% extends '_layouts/cp' %}

{% do view.registerAssetBundle("modules\\adminmodule\\assetbundles\\AdminModule\\AdminModuleAsset") %}

{% set title = 'Projects' %}

{% block main %}
    <div id="content">
        <div class="Projects">
            <table class="data fullwidth">
                <thead>
                    <td>Name</td>
                    <td></td>
                </thead>
                {% if projects is defined %}
                    {% for project in projects %}
                        {% include 'admin/projects/listing' with {
                            project: project,
                            servers: app.server.getServerOptions(),
                        } only %}
                    {% endfor %}
                {% endif %}
            </table>
            <hr>
            {% include 'admin/projects/form' with {
                project: newProject
            } %}
        </div>
    </div>
{% endblock %}